<h1>Dashboard - Contactually Lite</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Phone Number</th>
      <th>Company Name</th>

    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.phone_number %></td>
        <td><%= contact.email_address %></td>
        <td><%= contact.company_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>