<% provide(:title, "Dashboard") %>



<div class="import--outer">
  <section class="import">
  <h3 class="import--heading">Bulk Contacts Upload</h3>
  <p>We currently support TSV format</p>

  <%= form_tag import_contacts_path, multipart: true, class: 'form-upload' do %>
    <%= file_field_tag :file, class: 'form-upload--chooser' %>
    <%= submit_tag "Upload", class: 'form-upload--submit' %>
  <% end %>
  </section>
</div>

<div class="filter--outer">
  <section class="filter">
    <h3 class="filter--heading">Filters</h3>
    <div class="show-only">
      <p>Show only contacts with&hellip;</p>
      <button>.com emails</button>
      <button>international #s</button>
      <button>#s with extensions</button>
    </div>
    <div class="sort-by">
      <p>Sort alphabetically by&hellip;</p>
      <button>email</button>
    </div>
  </section>
</div>

<div class="data--outer">
  <section class="data">
    <h2 class="data--heading">Contacts</h2>
    <div class="data--alert"><%= flash[:notice] %></div>

    <div class="data--list">
    <% @contacts.each do |contact| %>
      <div class="contact"
        data-dotcom="<%= contact.dotcom %>"
        data-international="<%= contact.international %>"
        data-extension="<%= contact.extension %>"
      >
        <div class="contact--actions">
          <%= link_to contact, method: 'delete', "data-type" => "json", remote: true, class: 'delete-contact' do %>
            <span class="icon">&times;</span> <span class="text">delete</span>
          <% end %>
        </div>
        <div class="contact--person">
          <div  class="contact--name"><%= contact.first_name %> <%= contact.last_name %></div>
          <div class="contact--company"><%= contact.company_name %></div>
        </div>
        <div class="contact--details">
          <div class="contact--email">
            <a href="mailto:<%= contact.email_address %>" class="contact--email-link"><%= contact.email_address %></a>
          </div>
          <div class="contact--phone">
            <span class="contact--number"><%= contact.phone_number %></span>
            <% if contact.extension %><span class="contact--extension">ext. <%= contact.extension %></span><% end %>
          </div>
        </div>

      </div>
    <% end %>
    </div>
  </section>
</div> <!-- end data -->
