<% provide(:title, "Dashboard") %>
<h1>Dashboard - Contactually Lite</h1>
<%= flash[:notice] %>

<div>
  <h3>Import a CSV File</h3>
  <%= form_tag import_contacts_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Phone Number</th>
      <th>Extension</th>
      <th>Company Name</th>

    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.email_address %></td>
        <td><%= contact.phone_number %></td>
        <td><%= contact.extension %></td>
        <td><%= contact.company_name %> <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
