<% provide(:title, "Dashboard") %>

<div class="import--outer">
  <section class="import">
  <h3 class="import--heading">Bulk Contacts Upload</h3>
  <p>We currently support TSV format</p>
  <% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= form_tag import_contacts_path, multipart: true, class: 'form-upload' do %>
    <%= file_field_tag :file, class: 'form-upload--chooser' %>
    <%= submit_tag "Upload", class: 'form-upload--submit' %>
  <% end %>
  </section>
</div>
<div class="filter--outer">
  <section class="filter">
    <h3 class="filter--heading">Filters</h3>
    <div class="show-only">
      <p>Show only contacts with&hellip;</p>
      <div class="show-only--button-group">
        <button class="show-only--dotcom show-only--button" data-filter="data-dotcom">.com emails</button>
        <button class="show-only--international  show-only--button" data-filter="data-international">international phone numbers</button>
        <button class="show-only--extension show-only--button" data-filter="data-extension">phone number extensions</button>
      </div>
    </div>
    <div class="sort-by">
      <p>Sort alphabetically by&hellip;</p>
      <div class="sort-by--buttons-wrap">
        <div class="sort-by--button-group">
          <button class="sort-by--email sort-by--button" data-sort="email">email</button>
          <button class="sort-by--company sort-by--button" data-sort="company">company</button>
          <button class="sort-by--first sort-by--button" data-sort="first">first name</button>
          <button class="sort-by--last sort-by--button default" data-sort="last">last name</button>
        </div>
        <div class="alpha">
          <div class="alpha--button-group">
            <button class="alpha--button default" data-alpha="alpha">A to Z</button>
            <button class="alpha--button" data-alpha="reverse">Z to A</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="data--outer">
  <section class="data">

    <h2 class="data--heading">Contacts</h2>

    <div class="data--list">
      <% if @contacts.any? %>
        <%= render(@contacts) %>
      <% else %>
        <div class="data--default-state">No contacts to display.</div>
      <% end %>

    </div>
  </section>
</div> <!-- end data -->
