<% provide(:title, "Contact Detail") %>

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>
<p>
  <strong>Company name:</strong>
  <%= @contact.company_name %>
</p>
<p>
  <strong>Email address:</strong>
  <%= @contact.email_address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @contact.extension %>
</p>
<p>
  <strong>Dot com email address?</strong>
  <%= @contact.dotcom %>
</p>
<p>
  <strong>International?</strong>
  <%= @contact.international %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
